[submodule "bedrock/sonmat"]
	path = bedrock/sonmat
	url = git@github.com:jun0-ds/sonmat.git
[submodule "bedrock/bobusang"]
	path = bedrock/bobusang
	url = git@github.com:jun0-ds/bobusang.git
[submodule "madang/vstabs"]
	path = madang/vstabs
	url = git@github.com:jun0-ds/vstabs.git
[submodule "bedrock/deodeumi"]
	path = bedrock/deodeumi
	url = git@github.com:jun0-ds/deodeumi.git
	branch = main
